@page {
margin: 0in;
width: 8.5in;
height: 11in;
background: #0a0519;
}

@media print {
body {
  background: #0a0519;
}

.sheet {
  width: 8.5in;
  height: 11in;
page-break-after: always;
}

.print-hide {
display: none;
}

.cover-image {
  width: 1.885in;
}

.cover-content {
top: 64pt;
left: -6pt;
}

.report-title {
  font-size: 42pt;
  line-height: 44pt;
  max-width: 310pt;
}

.cover-subhead {
  font-size: 30pt;
  line-height: 36pt;
}

.cover-team {
  font-size: 25pt;
  line-height: 30pt;
}

.cover-text {
  font-size: 21pt;
  line-height: 32pt;
  max-width: 407pt;
}

.into-content {
  max-width: 440pt;
}

.head-intro {
  margin-bottom: 37pt;
  font-size: 38pt;
  line-height: 44pt;
}

.intro-text {
  margin-bottom: 43pt;
  font-size: 17pt;
  line-height: 27pt;
}

.intro-logos-head {
  font-size: 18pt;
  line-height: 24pt;
}

.logos-img {
  width: 5.609in;
}

}
