@page {
margin: 0in;
width: 8.5in;
height: 11in;
background: #0a0519;
}

@media print {
body {
  background: #0a0519;
}

.sheet {
  width: 8.5in;
  height: 11in;
page-break-after: always;
}
.print-hide {
display: none;
}
.cover-image {
  width: 1.885in;
}
.cover-content {
top: 64pt;
left: -6pt;
grid-column-gap: 16pt;
grid-row-gap: 10pt;
}
.report-title {
  font-size: 42pt;
  line-height: 44pt;
  max-width: 310pt;
}
.cover-subhead {
  font-size: 30pt;
  line-height: 36pt;
}
.cover-team {
  font-size: 25pt;
  line-height: 30pt;
}
.cover-text {
  font-size: 21pt;
  line-height: 32pt;
  max-width: 407pt;
}
.into-content {
  max-width: 440pt;
}
.head-intro {
  margin-bottom: 37pt;
  font-size: 38pt;
  line-height: 44pt;
}
.intro-text {
  margin-bottom: 43pt;
  font-size: 17pt;
  line-height: 27pt;
}
.intro-logos-head {
  font-size: 18pt;
  line-height: 24pt;
}
.intro-logos-grid{
  margin-top: 20pt;
}
.logos-img {
  width: 5.609in;
}
.page.page-overview {
  padding-top: 50pt;
}
.overview-content {
  max-width: 517pt;
}
.overview-top {
  margin-bottom: 40pt;
}
.head-overview {
  font-size: 50pt;
  line-height: 56pt;
}
.overview-scores {
  padding-top: 23pt;
  padding-bottom: 23pt;
}
.overview-score-box{
  max-width: 350pt;
}
.overview-comp{
  font-size: 26pt;
  line-height: 30pt;
  margin-bottom: 14pt;
}
.overall-comp-text{
  font-size: 18pt;
  line-height: 24pt;
}
.overall-score{
  font-size: 34pt;
  line-height: 40pt;
}
.trait-cover-content{
  max-width: 450pt;
}
.trait-title {
  font-size: 46pt;
  line-height: 52pt;
  margin-bottom: 16pt;
}
.trait-subhead{
  font-size: 21pt;
  line-height: 26pt;
  margin-bottom: 32pt;
}
.trait-description{
  font-size: 16pt;
  line-height: 25pt;
  margin-bottom: 20pt;
}
.trait-score{
  margin-bottom: 29pt;
  padding-top: 15pt;
}
.trait-label{
  font-size: 24pt;
  line-height: 30pt;
}
.trait-overall{
  padding-left: 11pt;
  font-size: 24pt;
  line-height: 30pt;
}
.trait-bullets ul {
    grid-row-gap: 16pt;
}
.trait-bullets li {
  font-size: 16pt;
  line-height: 26pt;
  padding-left: 18pt;
  background-position: 0% 7pt;
  background-size: 12pt;
}
.page.visual{
  padding: 78pt 20pt 20pt 20pt;
}
.head-visual{
  font-size: 40pt;
  line-height: 44pt;
  margin-bottom: 10pt;
}
.visual-overall-label{
  margin-right: 20pt;
  font-size: 24pt;
  line-height: 30pt;
}
.visual-overall-text{
  font-size: 24pt;
  line-height: 30pt;
}
.visual-overall-text.text-last{
  margin-left: 9pt;
}
.chart-wrapper{
  margin-top: 151pt;
  width: 293pt;
  height: 293pt;
}
.circles{
  width: 293pt;
  height: 293pt;
}
.chart-line{
  height: 4pt;
}
.chart-line.line1 {
  left: 74pt;
  top: 71pt;
  width: 50%;
}

.chart-line.line2 {
  left: 14pt;
  top: 98pt;
}

.chart-line.line3 {
  left: 1pt;
  top: 163pt;
}

.chart-line.line4 {
  left: 40pt;
  top: 212pt;
}

.chart-line.line5 {
  left: 107pt;
  top: 214pt;
}

.chart-line.line6 {
  left: 146pt;
  top: 162pt;
}

.chart-line.line7 {
  left: 133pt;
  top: 97pt;
}
.component-wrapper {
  left: 0pt;
  top: 0pt;
  max-width: 154pt;
}

.component-wrapper.optimism-box {
  left: 87pt;
  bottom: 474pt;
}

.component-wrapper.efficacy-box {
  left: 10pt;
  top: 387pt;
  max-width: 146pt;
}

.component-wrapper.determination-box {
  left: 24pt;
  top: 544pt;
}

.component-wrapper.temper-box {
  left: 0pt;
  top: 614pt;
  right: 0pt;
  bottom: auto;
  max-width: 170pt;
}

.component-wrapper.temper-box.confidence-box {
  max-width: 200pt;
}

.component-wrapper.assured-box {
  left: auto;
  top: 551pt;
  right: 27pt;
}

.component-wrapper.positive-box {
  right: 9pt;
  bottom: 303pt;
  max-width: 141pt;
}

.component-wrapper.adversity-box {
  right: 107pt;
  bottom: 472pt;
}
.component-name{
  font-size: 14pt;
  line-height: 18pt;
}
.component-options{
  margin-top: 8pt;
}
.component-options.options-on-top{
  margin-top: 0pt;
  margin-bottom: 8pt;
}
.component-text{
  font-size: 11pt;
  line-height: 15pt;
}
.score-box{
  height: 24pt;
  font-size: 13pt;
  line-height: 16pt;
}
.page.page-metrics{
  padding: 21pt 28pt 0 28pt;
}
.head-metrics{
  font-size: 30pt;
  line-height: 30pt;
}
.overall-label-metrics{
  font-size: 18pt;
  line-height: 24pt;
}
.overall-score-metrics{
  font-size: 20pt;
  line-height: 24pt;
}
.metric-item{
  padding-top: 4pt;
  padding-bottom: 8pt;
}
.detailed-metric-box{
  margin-left: 20pt;
}
.detailed-score{
  font-size: 34pt;
  line-height: 40pt;
}
.metric-name{
  font-size: 16pt;
  line-height: 24pt;
  margin-bottom: 4pt;
}
.metric-text{
  font-size: 11pt;
  line-height: 15pt;
}






}
